[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:masconsult/ActionBarSherlock.git
[submodule "malibu"]
	path = malibu
	url = git@github.com:malibu-lib/malibu.git
[submodule "cwac-adapter"]
	path = cwac-adapter
	url = git@github.com:masconsult/cwac-adapter.git
