<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.masconsult.bgbanking"
    android:versionCode="1"
    android:versionName="0.2-SNAPSHOT" >

    <!-- We need this to be able to create accounts in AccountManager and retrieve stored password -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- to enable automatic syncing -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- nedded for manual sync -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <!-- to redirect for new account -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- to get logged accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- to retrieve data -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- to read stored authToken -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- to be notified when network change -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- to check the sync status -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name=".BankingApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- The authenticator services -->
        <service
            android:name=".banks.procreditbank.AuthenticationService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_procreditbank" />
        </service>
        <service
            android:name=".banks.dskbank.AuthenticationService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_dskbank" />
        </service>
        <service
            android:name=".banks.sgexpress.AuthenticationService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_sgexpress" />
        </service>
        <service
            android:name=".banks.fibank.my.AuthenticationService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_fibank_my" />
        </service>
        <service
            android:name=".banks.fibank.ebanking.AuthenticationService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_fibank_ebanking" />
        </service>
        
        <!-- The login activity -->
        <activity
            android:name=".accounts.LoginActivity"
            android:label="@string/ui_activity_login_title"
            android:theme="@style/LoginActivity" >

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->

        </activity>

        <!-- SyncAdapters -->
        <service
            android:name=".banks.dskbank.SyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_dskbank" />
        </service>
        <service
            android:name=".banks.procreditbank.SyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_procreditbank" />
        </service>
        <service
            android:name=".banks.sgexpress.SyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_sgexpress" />
        </service>
        <service
            android:name=".banks.fibank.my.SyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_fibank_my" />
        </service>
        <service
            android:name=".banks.fibank.ebanking.SyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_fibank_ebanking" />
        </service>
        
        <!-- The content provider -->
        <provider
            android:name=".provider.BankingProvider"
            android:authorities="@string/authority_type"
            android:exported="false" >
        </provider>

        <!-- The UI -->
        <activity android:name=".activity.HomeActivity" android:theme="@style/Theme.Sherlock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>