<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.masconsult.bgbanking"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- We need this to be able to create accounts in AccountManager -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- to enable automatic syncing -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- The authenticator services -->
        <service
            android:name=".banks.procreditbank.AuthenticationService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_procreditbank" />
        </service>
        <service
            android:name=".banks.dskbank.AuthenticationService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_dskbank" />
        </service>

        <!-- The login activity -->
        <activity
            android:name=".accounts.LoginActivity"
            android:label="@string/ui_activity_login_title"
            android:theme="@style/LoginActivity" >

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->

        </activity>
    </application>

</manifest>